.banner {
    display: flex;
    align-items: center;
    background-image: url(img/1711729990805.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}